# Binary Classification with Logistic Regression

In this module, you will learn how to perform binary classification in scikit-learn with logistic regression. We will take a look at the iris dataset, which is a classic for testing out classification algorithms. Finally, we will use the accuracy score for evaluating how good the model we create really is.

<b>Functions and attributes in this lecture: </b>
- `pandas:` - Pandas package with alias `pd`
  - `.value_counts()` - Get the value distribution for the pandas series
  - `.corr()` - Get the correlation matrix for a pandas dataframe
- `sklearn.linear_model` - Submodule for linear models
  - `LogisticRegression()` - The logistic regression model
    - `.fit()` - Training the model on the data
    - `.predict()` - Predicting on new data using the model
    - `.predict_proba()` - Get the precentages for prediction on new data using the model
- `sklearn.metrics` - Submodule for metrics used to evaluate models
  - `accuracy_score()` - Finding the accuracy score for a set of predictions
- `sklearn.datasets` - Submodule of sklearn for toy datasets
  - `load_iris()` - A function for loading the iris dataset

In [2]:
# Non-sklearn packages
import numpy as np
import pandas as pd

# Sklearn modules & functions
from sklearn import datasets
from sklearn.model_selection import train_test_split

## Working with the Iris Dataset

Let us begin by importing the iris dataset and checking it out!

In [12]:
# Loading the Iris dataset
X, y = datasets.load_iris(return_X_y=True, as_frame=True)

# Some info about the dataset
print(datasets.load_iris()["DESCR"])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [ ]:
# Describe the features
X.describe()

# Get statistical summary of the features

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [15]:
# Check out the datatypes of the features
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [16]:
# Checking the values that the output can take
y.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [18]:
# Selecting only the first two classes
X = X[50:]
y = y[50:] - 1

In [20]:
# Collect all the variables
all_variables = pd.concat([X, y], axis=1)

In [21]:
# Checking the correlation
all_variables.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
sepal length (cm),1.000000,0.457228,0.864225,0.281108,NaN
sepal width (cm),0.457228,1.000000,0.401045,0.537728,NaN
petal length (cm),0.864225,0.401045,1.000000,0.322108,NaN
petal width (cm),0.281108,0.537728,0.322108,1.000000,NaN
target,NaN,NaN,NaN,NaN,NaN

In [ ]:
# A small visualization

## Logistic Regression

We will now train a logistic regression model for binary classification of the iris flower.